* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    /* width: 100vw; */
    /* height: 100vh; */
}

ul {
    list-style: none;
}

@media (min-width: 320px) {

    header {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    #header-one {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #header-one-ul-2 img {
        width: 30px;
    }

    #header-one nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #header-one-ul-2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #header-two {
        padding: 10px;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-image: url("/images/laptop-me.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    #header-two h1 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        /* padding-top: 50px; */
        opacity: 0.8;
    }

    #header-two p {
        color: #fff;
        font-size: 1rem;
        text-align: center;
        opacity: 0.8;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* padding: 20px 15px 20px 15px; */
        padding: 20px 15px;
        /* set background color */
        background-color: #f5f5f5;
        /* set box shadow */
    }

    main section {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    section p {
        font-size: 1rem;
        color: #000;
        opacity: 0.8;
        line-height: 1.5;
    }

    footer {
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}