* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    /* width: 100vw; */
    /* height: 100vh; */
}

ul {
    list-style: none;
}

@media (min-width: 320px) {

    header {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    #header-one {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #header-one-ul-2 img {
        width: 30px;
    }

    #header-one nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #header-one-ul-2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #header-two {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-image: url("/images/laptop-me.jpg");
    }


}