<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <title>My learning journal</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: sans-serif;
            font-size: 1.5rem;
        }

        a {
            margin: 1rem;
            text-decoration: none;
            color: #000;
        }
    </style>
</head>

<body>
    <a href="https://github.com/rajesh604" target="_blank">My Primary Account</a>
    <a href="https://github.com/Alexanderwar" target="_blank">My Github Student Account</a>
</body>
</html>