<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="stylesheet" href="../css/home.css">
    <title>My learning journal</title>
</head>

<body>
    <header>
        <div id="header-one">
            <nav>
                <a href="../index.html">
                    <ul id="header-one-ul-1">
                        <li><img src="../gifs/journal.gif" alt=""></li>
                        <li>My learning <span id="one">Journey</span> </li>
                    </ul>
                </a>
                <ul id="header-one-ul-2">
                    <a href="#">
                        <div>
                            <img src="../gifs/home.gif" alt="">
                            <li>Home</li>
                        </div>
                    </a>
                    <a href="./about.html">
                        <div>
                            <img src="../gifs/about.gif" alt="">
                            <li> About Me</li>
                        </div>
                    </a>
                </ul>
            </nav>
        </div>
        <div id="header-two">
            <h1>My developer journey</h1>
            <p>I am a developer with 3+ years of experience in programming</p>
        </div>
    </header>
    <main>
        <div id="div1">
            <div id="div1-header">
                <p>August 2020</p>
                <h1>My Journey as a Developer</h1>
                <p>I have started developing software from 2020 i am intrested in programming</p>
                <img src="../images/journey2.jpg" alt="">
            </div>
            <div id="div1-main">
                <div class="div1-section">
                    <h2>Why did I start learning programming ?</h2>
                    <p>I started learning programming because i wanted to build some cool stuff.</p>
                </div>
                <div class="div1-section">
                    <h2>How I stay commited to learning</h2>
                    <p>Initially it was hard to learn programming languages because i could not understand them and i did not know the proper way to learn a language I believed in retaining the information for a long time but it did not help and after months of errors and frustration I found a way to learn programming languages and that is by building projects and i started building projects and i learned a lot from them and i am still learning.And I found that You do not need to focus on remembering the programming concepts you have to focus on logic.</p>
                    <p>
                        Initially thought it was hard i had put some effort to stay motivated and learn because i wanted to build jarvis and some cool stuff with it and only this thing made me motivated so i never backed off and after sometime i did not put any effort into learning things it was purely my curiosity that drove me to learn new things and made my hands dirty with new technogies.
                    </p>
                </div>
                <div class="div1-section">
                    <h2>What are the things I do apart from building projects ?</h2>
                    <p>I love to contribute to open source projects and I am student ambassador for streamlit</p>
                    <p>I love to spread my knowledge of programming to others and i am an active tweeter</p>
                </div>
            </div>
            <div id="div1-footer">
                My <span>Projects</span>
            </div>
        </div>
        <div id="div2">
            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_07-52-48.png?updatedAt=1685102016146" alt="" class="cover">
                <div>
                    <p>April 2023</p>
                    <strong>Visualization Dashboard</strong>
                    <p>This is a visualization dashboard project which displays json data in different graphical fomats</p>
                    <a href="https://github.com/Alexanderwar/mongodb_project" class="linker" target="_blank">My Project</a>
                    <a href="https://drive.google.com/file/d/1iSYYokcOj2LpsH3FyJDTyggZa3ms0ZNP/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>
    
            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_09-21-28.png?updatedAt=1685107308637" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Color Picker</strong>
                    <p>You can grab Variety of colors from single color</p>
                    <a href="https://github.com/rajesh604/color_picker" target="_blank" class="linker">My Project</a>
                    <a href="https://rajesh604.github.io/color_picker/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1AX00OUITIoddmk_03I_13F7dNzyBSHKk/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>
    
            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_09-12-24.png?updatedAt=1685106803452" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Scrimbafy My Responsive Website</strong>
                    <p>This is my Responsive Website</p>
                    <a href="https://github.com/rajesh604/scrimbafy" target="_blank" class="linker">My Project</a>
                    <a href="https://rajesh604.github.io/scrimbafy/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1mqnIvRHZNFLE69ZBqgSvYXlUaR_TCuNa/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>

            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_09-34-05.png?updatedAt=1685108141477" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Food Ordering Website</strong>
                    <p>A basic website to order food</p>
                    <a href="https://github.com/rajesh604/food_ordering_app" target="_blank" class="linker">My Project</a>
                    <a href="https://rajesh604.github.io/food_ordering_app/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1aUfGYW4kMmN_SuzFCQ6abeqh4SmXUxHk/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>

            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_09-42-37.png?updatedAt=1685108631194" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Meme Generator</strong>
                    <p>A Best short Tool to edit and Get Memes</p>
                    <a href="https://github.com/rajesh604/meme_generator" target="_blank" class="linker">My Project</a>
                    <a href="https://dreamy-palmier-72fdd4.netlify.app/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1k1IgTg81J89EoK6is0fHSOOAXmiQPvya/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>

            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_09-52-06.png?updatedAt=1685109296376" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Endorsement Application</strong>
                    <p>Endorsing application for a company</p>
                    <a href="https://github.com/rajesh604/endorsement_application" target="_blank" class="linker">My Project</a>
                    <a href="https://rajesh604.github.io/endorsement_application/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1mHPKXGBYVzUBDdMIpW3V5usBwR3WfzuW/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>

            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_09-59-16.png?updatedAt=1685109693642" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Cookie Scammer</strong>
                    <p>Demo of how Scammers Scam us</p>
                    <a href="https://github.com/rajesh604/cookie_webpage" target="_blank" class="linker">My Project</a>
                    <a href="https://rajesh604.github.io/cookie_webpage/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1SV3Jr4-estV0RXjnE0VCrG1Ig7gHLCED/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>

            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_10-08-30.png?updatedAt=1685110193391" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Tennis Game</strong>
                    <p>Tennes Game Development</p>
                    <a href="https://github.com/rajesh604/tennis_using_react" target="_blank" class="linker">My Project</a>
                    <a href="https://thunderous-torrone-0c611b.netlify.app/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1gFU6k0qCQvaVduvktwdijitNS1qpIvdU/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>

            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_10-14-07.png?updatedAt=1685110488165" alt="" class="cover">
                <div>
                    <p>May 2023</p>
                    <strong>Note Taking App</strong>
                    <p>A Note Taking App to store all you notes</p>
                    <a href="https://github.com/rajesh604/note_taking_app" target="_blank" class="linker">My Project</a>
                    <a href="https://moonlit-paletas-37f81a.netlify.app/" target="_blank" class="linker">Project Link</a>
                    <a href="https://drive.google.com/file/d/1pF2fl9YJUc_iVrPc8EwlAaAkj0sF1c2l/view?usp=sharing" target="_blank" class="linker">Project Demo</a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <a href="https://twitter.com/exploringengin1" target="_blank">
                <img src="../gifs/tweet-me.gif" alt="">
                <p>Follow me on <span id="twitter">twitter</span></p>
            </a>
            <a href="./github.html" target="_blank">
                <img src="../gifs/github.gif" alt="">
                <p>Follow me on <span id="github">github</span> </p>
            </a>
            <a href="https://www.linkedin.com/in/rajesh-coder-aba8a3254/" target="_blank">
                <img src="../gifs/linkedin.gif" alt="">
                <p>Follow me on <span id="linkedin">linkedin</span> </p>
            </a>
            <a href="./gmail.html" target="_blank">
                <img src="../gifs/gmail.gif" alt="">
                <p>Send me an <span id="email">email</span> </p>
            </a>
            <a href="#" target="_blank">
                <img src="../gifs/website.gif" alt="">
                <p>Visit my <span id="website">website</span> </p>
            </a>
        </div>
    </footer>
</body>
<script src="./scripts/index.js"></script>

</html>