<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="../css/home.css">
    <title>My learning journal</title>
</head>

<body>
    <header>
        <div id="header-one">
            <nav>
                <a href="../index.html">
                    <ul id="header-one-ul-1">
                        <li><img src="../gifs/journal.gif" alt=""></li>
                        <li>My learning <span id="one">Journey</span> </li>
                    </ul>
                </a>
                <ul id="header-one-ul-2">
                    <a href="#">
                        <div>
                            <img src="../gifs/home.gif" alt="">
                            <li>Home</li>
                        </div>
                    </a>
                    <a href="./about.html">
                        <div>
                            <img src="../gifs/about.gif" alt="">
                            <li> About Me</li>
                        </div>
                    </a>
                </ul>
            </nav>
        </div>
        <div id="header-two">
            <h1>My developer journey</h1>
            <p>I am a developer with 3+ years of experience in programming</p>
        </div>
    </header>
    <main>
        <div id="div1">
            <div id="div1-header">
                <p>August 2020</p>
                <h1>My Journey as a Developer</h1>
                <p>I have started developing software from 2020 i am intrested in programming</p>
                <img src="../images/journey.jpg" alt="">
            </div>
            <div id="div1-main">
                <div class="div1-section">
                    <h2>How I stay commited to learning</h2>
                    <p>Stoicism:

                        Understand the principles of Stoicism: Familiarize yourself with the teachings of Stoic philosophers like Epictetus, Seneca, and Marcus Aurelius. Learn about concepts such as accepting what is beyond your control, focusing on the present moment, and developing resilience in the face of adversity.
                        </p>
                    <p>
                        Practice self-reflection: Regularly reflect on your thoughts, emotions, and reactions to events. Stoicism emphasizes self-awareness and self-improvement, so introspection can help you understand and regulate your responses.
                        Maintain perspective: Train yourself to differentiate between what is within your control and what is not. Focus your energy on the things you can influence and accept the things you cannot change.
                    </p>
                </div>
                <div class="div1-section">
                    <h2>How I stay commited to learning</h2>
                    <p>Stoicism:

                        Understand the principles of Stoicism: Familiarize yourself with the teachings of Stoic philosophers like Epictetus, Seneca, and Marcus Aurelius. Learn about concepts such as accepting what is beyond your control, focusing on the present moment, and developing resilience in the face of adversity.
                        </p>
                    <p>
                        Practice self-reflection: Regularly reflect on your thoughts, emotions, and reactions to events. Stoicism emphasizes self-awareness and self-improvement, so introspection can help you understand and regulate your responses.
                        Maintain perspective: Train yourself to differentiate between what is within your control and what is not. Focus your energy on the things you can influence and accept the things you cannot change.
                    </p>
                </div>
            </div>
            <div id="div1-footer">
                My Projects
            </div>
        </div>
        <div id="div2">
            <section>
                <img src="../images/java.jpg" alt="">
                <div>
                    <p>August 2020</p>
                    <strong>Java My First Language</strong>
                    <p>This is the first programming language i learned which hard and beautiful</p>
                </div>
            </section>
    
            <section>
                <img src="../images/java.jpg" alt="">
                <div>
                    <p>August 2020</p>
                    <strong>Java My First Language</strong>
                    <p>This is the first programming language i learned which hard and beautiful</p>
                </div>
            </section>
    
            <section>
                <img src="../images/java.jpg" alt="">
                <div>
                    <p>August 2020</p>
                    <strong>Java My First Language</strong>
                    <p>This is the first programming language i learned which hard and beautiful</p>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <a href="https://twitter.com/exploringengin1" target="_blank">
                <img src="../gifs/tweet-me.gif" alt="">
                <p>Follow me on <span id="twitter">twitter</span></p>
            </a>
            <a href="https://github.com/rajesh604" target="_blank">
                <img src="../gifs/github.gif" alt="">
                <p>Follow me on <span id="github">github</span> </p>
            </a>
            <a href="https://www.linkedin.com/in/rajesh-coder-aba8a3254/" target="_blank">
                <img src="../gifs/linkedin.gif" alt="">
                <p>Follow me on <span id="linkedin">linkedin</span> </p>
            </a>
            <a href="#" target="_blank">
                <img src="../gifs/gmail.gif" alt="">
                <p>Send me an <span id="email">email</span> </p>
            </a>
            <a href="#" target="_blank">
                <img src="../gifs/website.gif" alt="">
                <p>Visit my <span id="website">website</span> </p>
            </a>
        </div>
    </footer>
</body>
<script src="./scripts/index.js"></script>

</html>