<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="stylesheet" href="../css/home.css">
    <title>My learning journal</title>
</head>

<body>
    <header>
        <div id="header-one">
            <nav>
                <a href="../index.html">
                    <ul id="header-one-ul-1">
                        <li><img src="../gifs/journal.gif" alt=""></li>
                        <li>My learning <span id="one">Journey</span> </li>
                    </ul>
                </a>
                <ul id="header-one-ul-2">
                    <a href="#">
                        <div>
                            <img src="../gifs/home.gif" alt="">
                            <li>Home</li>
                        </div>
                    </a>
                    <a href="./about.html">
                        <div>
                            <img src="../gifs/about.gif" alt="">
                            <li> About Me</li>
                        </div>
                    </a>
                </ul>
            </nav>
        </div>
        <div id="header-two">
            <h1>My developer journey</h1>
            <p>I am a developer with 3+ years of experience in programming</p>
        </div>
    </header>
    <main>
        <div id="div1">
            <div id="div1-header">
                <p>August 2020</p>
                <h1>My Journey as a Developer</h1>
                <p>I have started developing software from 2020 i am intrested in programming</p>
                <img src="../images/journey2.jpg" alt="">
            </div>
            <div id="div1-main">
                <div class="div1-section">
                    <h2>Why did I start learning programming ?</h2>
                    <p>I started learning programming because i wanted to build some cool stuff.</p>
                </div>
                <div class="div1-section">
                    <h2>How I stay commited to learning</h2>
                    <p>Initially it was hard to learn programming languages because i could not understand them and i did not know the proper way to learn a language I believed in retaining the information for a long time but it did not help and after months of errors and frustration I found a way to learn programming languages and that is by building projects and i started building projects and i learned a lot from them and i am still learning.And I found that You do not need to focus on remembering the programming concepts you have to focus on logic.</p>
                    <p>
                        Initially thought it was hard i had put some effort to stay motivated and learn because i wanted to build jarvis and some cool stuff with it and only this thing made me motivated so i never backed off and after sometime i did not put any effort into learning things it was purely my curiosity that drove me to learn new things and made my hands dirty with new technogies.
                    </p>
                </div>
                <div class="div1-section">
                    <h2>What are the things I do apart from building projects ?</h2>
                    <p>I love to contribute to open source projects and I am student ambassador for streamlit</p>
                    <p>I love to spread my knowledge of programming to others and i am an active tweeter</p>
                </div>
            </div>
            <div id="div1-footer">
                My <span>Projects</span>
            </div>
        </div>
        <div id="div2">
            <section>
                <img src="https://ik.imagekit.io/hbzknb1hm/Screenshot_from_2023-05-26_07-52-48.png?updatedAt=1685102016146" alt="">
                <div>
                    <p>April 2023</p>
                    <strong>Visualization Dashboard</strong>
                    <p>This is a visualization dashboard project which displays json data in different graphical fomats</p>
                    <a href="https://github.com/Alexanderwar/mongodb_project" style="color:blue;font-weight:bolder" target="_blank">My Project</a>
                    <a href="https://drive.google.com/file/d/1iSYYokcOj2LpsH3FyJDTyggZa3ms0ZNP/view?usp=sharing" target="_blank">Project Demo</a>
                </div>
            </section>
    
            <section>
                <img src="../images/java.jpg" alt="">
                <div>
                    <p>April 2023</p>
                    <strong>Java My First Language</strong>
                    <p>This is the first programming language i learned which hard and beautiful</p>
                </div>
            </section>
    
            <section>
                <img src="../images/java.jpg" alt="">
                <div>
                    <p>August 2020</p>
                    <strong>Java My First Language</strong>
                    <p>This is the first programming language i learned which hard and beautiful</p>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <a href="https://twitter.com/exploringengin1" target="_blank">
                <img src="../gifs/tweet-me.gif" alt="">
                <p>Follow me on <span id="twitter">twitter</span></p>
            </a>
            <a href="./github.html" target="_blank">
                <img src="../gifs/github.gif" alt="">
                <p>Follow me on <span id="github">github</span> </p>
            </a>
            <a href="https://www.linkedin.com/in/rajesh-coder-aba8a3254/" target="_blank">
                <img src="../gifs/linkedin.gif" alt="">
                <p>Follow me on <span id="linkedin">linkedin</span> </p>
            </a>
            <a href="./gmail.html" target="_blank">
                <img src="../gifs/gmail.gif" alt="">
                <p>Send me an <span id="email">email</span> </p>
            </a>
            <a href="#" target="_blank">
                <img src="../gifs/website.gif" alt="">
                <p>Visit my <span id="website">website</span> </p>
            </a>
        </div>
    </footer>
</body>
<script src="./scripts/index.js"></script>

</html>